log/
logs/
*.log
tmp/
*.tmp
*.bak
.vertx/

target/

.mvn/
mvnw
mvnw.cmd


.idea/
out/
.idea
*.iws
*.iml
*.ipr

.settings/
.classpath
.project
.apt_generated
.factorypath
.springBeans

metastore_db/
/spark-warehouse/
*.jar
